<?xml version="1.0" encoding="UTF-8"?>
<widget>
	<cpname itemtype="string">MegaTV</cpname>
	<cplogo itemtype="string"></cplogo>
	<cpauthjs itemtype="string"></cpauthjs>
    <ThumbIcon itemtype="string">app/images/default_106.png</ThumbIcon>
    <BigThumbIcon itemtype="string">app/images/default_115.png</BigThumbIcon>
    <ListIcon itemtype="string">app/images/default_85.png</ListIcon>
    <BigListIcon itemtype="string">app/images/default_95.png</BigListIcon>
	<category itemtype="string">Internet TV</category>
	<autoUpdate itemtype="boolean">y</autoUpdate>
	<ver itemtype="string">0.100</ver>
	<mgrver itemtype="string"></mgrver>
	<fullwidget itemtype="boolean">y</fullwidget>
	<type itemtype="string">user</type>
	<srcctl itemtype="boolean">y</srcctl>
	<ticker itemtype="boolean">n</ticker>
	<childlock itemtype="boolean">n</childlock>
	<videomute itemtype="boolean">n</videomute>
	<dcont itemtype="boolean">y</dcont>
	<widgetname itemtype="string">MegaTV</widgetname>
	<description itemtype="string"></description>
	<width itemtype="string">1280</width>
	<height itemtype="string">720</height>
	<author itemtype="group"> 
		<name itemtype="string"></name>
		<email itemtype="string"></email>
		<link itemtype="string"></link>
		<organization itemtype="string">MegaStyle Service</organization>
	</author>
</widget>
